{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Национальное управление по аэронавтике и исследованию космического пространства — гражданская космическая программа Америки и мировой лидер в освоении космоса. В штате агентства работают чуть менее 18 000 государственных служащих, и оно работает со многими другими американскими подрядчиками, научными кругами, международными и коммерческими партнерами над исследованием, открытием и расширением знаний на благо человечества. НАСА поддерживает более 312 000 рабочих мест в Соединенных Штатах, генерируя общий экономический объем производства более 64,3 миллиарда долларов США.
НАСА также возглавляет подход к исследованию Луны на Марс, который включает в себя работу с промышленностью США, международными партнерами и академическими кругами для разработки новых технологий и отправки научных исследований, Красная планета. В дополнение к этим основным задачам агентство делится своими знаниями, чтобы его информация могла улучшить жизнь людей во всем мире. Например, компании используют открытия и технологии НАСА для создания новых продуктов для населения. Чтобы обеспечить будущий успех агентства и нации, НАСА также поддерживает образовательные усилия в области STEM, уделяя особое внимание увеличению разнообразия нашей будущей рабочей силы.</p>
    </div>
{% endblock %} 


