{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Мечта о полете человека на планету Марс имеет давнюю историю, но только сегодня мы подошли к возможности ее исполнения очень близко. Во многом интерес к Марсу был связан с ожиданием встречи братьев по разуму. И хотя рассчитывать на обнаружение на Марсе разумных существ не приходится, какие-то формы жизни там, вероятно, можно отыскать. Но значение полета человека на Марс выходит далеко за пределы поиска жизни вне Земли. Важно, что Марс - единственная планета, перспективная с точки зрения ее колонизации.
        </p>
        {% for el in values %}
            {% if el == 'Hello' %}


            {% endif %}
        {% endfor %}

        {% for el in obj %}

        {% endfor %}
    </div>
{% endblock %}


